@model QualityOfLife.Models.Paciente
@using QualityOfLife.Models.Enums;
@{
    ViewData["Title"] = "Paciente/Cadastrar";
}
<link href="/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet"> <!--load all styles -->

<datalist id="responsaveis">
    @foreach (var item in ViewBag.Responsavel)
    {
        <option value="@item.Cpf"> @item.Nome</option>
    }
</datalist>

<datalist id="status">
    @foreach (var item in ViewBag.StatusPaciente)
    {
        <option value="@item"></option>
    }
</datalist>
<datalist id="diaAtendimento">
    @foreach (var item in Html.GetEnumSelectList<DiasDaSemana>())
    {
        <option value="@item.Text"></option>
    }
</datalist>
@using (Html.BeginForm("Create", "Pacientes", FormMethod.Post, new { @class = "container", autocomplete = "off" }))
{
    <div class="container">
        <div class="Detalhes">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Cadastrar</h2>
                </div>
                <div class="col-lg-6" style="text-align:right; margin-top:10px;">
                    <a asp-action="Index" title="Voltar" class="btn btn-sm btn-info">
                        Voltar
                    </a>
                </div>
            </div>
        </div>
        <br />


        <div class="row col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group col-md-5">
                    <label asp-for="Nome" class="control-label"></label>
                    <input name="Nome" id="Nome" class="form-control" style='text-transform:uppercase' />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="Cpf" class="control-label"></label>
                    <input name="Cpf" id="Cpf" class="form-control" id="RegraValida" maxlength="14" onkeydown="javascript: fMasc( this, mCPF );" onclick="resetForm('RegraValida')" onchange="buscarCpf()" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="Responsavel" class="control-label"></label>
                    <input asp-for="Responsavel.Cpf" id="Responsavel" class="form-control" list="responsaveis" />
                    <input type="hidden" asp-for="Responsavel.Nome" class="form-control" value="null" />
                    <span asp-validation-for="Responsavel.Cpf" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="DataNascimento" class="control-label"></label>
                    <input type="date" name="DataNascimento" id="DataNascimento" class="form-control" style='text-transform:uppercase' />
                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                </div>

                <div class="form-group col-md-2">
                    <label asp-for="StatusPacientes" class="control-label"></label>
                    <input name="StatusPacientes" id="StatusPacientes" class="form-control" list="status" />
                    <span asp-validation-for="StatusPacientes" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label name="quantAtendimento" class="control-label">Atendimentos Semanais</label>
                    <select name="numeroAtendimento" id="numeroAtendimento" class="form-select" oninput="camposAtendimento()">
                        <option value="0" style="color:black">0</option>
                        <option value="1" style="color:black">1</option>
                        <option value="2" style="color:black">2</option>
                        <option value="3" style="color:black">3</option>
                        <option value="4" style="color:black">4</option>
                        <option value="5" style="color:black">5</option>
                        <option value="6" style="color:black">6</option>
                        <option value="7" style="color:black">7</option>
                    </select>
                </div>

                <div class="row" id="listaAtendimento"></div>

                <span id="span-modelo" style="display: none;">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" name="dia-0">Dia Da Semana</label>
                                <input type="text" name="dia-0" id="dia-0" class="form-control" list="diaAtendimento">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" name="hora-0">Horário</label>
                                <input type="time" name="hora-0" class="form-control" id="hora-0">
                            </div>
                        </div>
                    </div>
                </span>

                <span id="span-real"></span>
                <div class="form-group">
                    <input type="button" value="Salvar" class="btn btn-primary" onclick="salvar()" />
                </div>
                <button type="button" id="abrir" data-toggle="modal" data-target="#RespExistente" style="display: none;">
                    Deletar
                </button>
            </form>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="RespExistente" tabindex="-1" role="dialog" aria-labelledby="RespExistenteLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Paciente já cadastrado!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"><b>Deseja atualizar os dados do Paciente?</b></div>
                <div class="modal-footer">
                    <form asp-action="Edit" style="display:inline">
                        <input value="Sim" class="btn btn-danger" style="display: inline;" onclick="editarId()" />
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="resetForm('RegraValida')">Não</button>
                </div>
            </div>
        </div>
    </div>
}


<script>

    function salvar() {
        var nome = $('#Nome').val();
        var cpf = $('#Cpf').val();
        var responsavel = $('#Responsavel').val();
        var dataNascimento = $('#DataNascimento').val();
        var status = $('#StatusPacientes').val();
        var quant = $('#numeroAtendimento').val();
        var i = 1;
        var listDataHora = [];
        while (i <= quant) {
            var dia = $('#dia-' + i.toString()).val();
            var hora = $('#hora-' + i.toString()).val();
            listDataHora.push(dia + '-' + hora);
            i = i + 1;
        }
        $.ajax({
            method: "POST",
            url: "/Pacientes/Create",
            data: {
                nome: nome, cpf: cpf, responsavel: responsavel, dataNascimento: dataNascimento,
                status: status, listDataHora: listDataHora},
            success: function () {
                        var location = "@Url.Action("Index")";
                        window.location.href = location;
            },
            error: function (error) {
                alert('failed');
            }
        })
    };

    function camposAtendimento() {
        var spanModelo = $('#span-modelo').html();
        var spanModeloString = spanModelo.toString();
        var campos = $('#numeroAtendimento').val();

        var i = 1;
        var texto = '';

        while (i <= campos) {
            texto = texto + spanModeloString.replace(/-0/g, '-' + i.toString())
            i = i + 1;
        }

        $('#span-real').html(texto);
    };


    var idPaciente = '0';
    //cpf
    function valida_cpf() {
        var cpf = document.getElementById("RegraValida").value;
        cpf = cpf.replace(/[^0-9]+/g, "");
        var numeros, digitos, soma, i, resultado, digitos_iguais;
        digitos_iguais = 1;
        if (cpf.length < 11)
            alert("CPF Invalido");
        for (i = 0; i < cpf.length - 1; i++)
            if (cpf.charAt(i) != cpf.charAt(i + 1)) {
                digitos_iguais = 0;
                break;
            }
        if (!digitos_iguais) {
            numeros = cpf.substring(0, 9);
            digitos = cpf.substring(9);
            soma = 0;
            for (i = 10; i > 1; i--)
                soma += numeros.charAt(10 - i) * i;
            resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
            if (resultado != digitos.charAt(0))
                alert("CPF Invalido");
            numeros = cpf.substring(0, 10);
            soma = 0;
            for (i = 11; i > 1; i--)
                soma += numeros.charAt(11 - i) * i;
            resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
            if (resultado != digitos.charAt(1))
                alert("CPF Invalido");
            console.log("Valido");
        }
        else
            alert("CPF Invalido");

    }
    function fMasc(objeto, mascara) {
        obj = objeto
        masc = mascara
        setTimeout("fMascEx()", 1)
    }

    function fMascEx() {
        obj.value = masc(obj.value)
        if (obj.value.length == 14) {
            valida_cpf();
        }
    }

    function mCPF(cpf) {
        cpf = cpf.replace(/\D/g, "")
        cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2")
        cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2")
        cpf = cpf.replace(/(\d{3})(\d{1,2})$/, "$1-$2")
        return cpf
    }

    function buscarCpf() {
        var valor = $('#RegraValida').val();
        $.ajax({
            type: "GET",
            url: "/pacientes/BuscarCpf",
            data: { cpf: valor },
            success: function (result) {
                if (result >= 1) {
                    idPaciente = result;
                    document.getElementById("abrir").click();
                }

            },
            error: function (error) {
                alert('ERRO');
            }
        });
    };
    function editarId() {
        var id = idPaciente;
        var location = '@Url.Action("Edit", "Pacientes")?id=' + id;
                    window.location.href = location;
    }
    function resetForm(id) {
        with (document) {
            getElementById(id).value = "";
        }
    }
</script>
