@model QualityOfLife.Models.Paciente

@{
    ViewData["Title"] = "Paciente/Detalhe";
}
<link href="/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet"> <!--load all styles -->
<link href="/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet"> <!--load all styles -->
@section styles {
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />

}
<div class="Detalhes">
    <div class="row">
        <div class="col-lg-6">
            <h2>Detalhes</h2>
        </div>
        <div class="col-lg-6" style="text-align:right; margin-top:20px;">
            <a asp-action="Index" title="Voltar" class="btn btn-sm btn-info">
                Voltar
            </a>
        </div>
    </div>
</div>
<br />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        @{
            string dataNascimento = Model.DataNascimento.ToString("dd/MM/yyyy");
        }
        <dd>
            @dataNascimento
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusPacientes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusPacientes)
        </dd>
        <dd>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-striped">
                        <tr>
                            <th>Dia do Atendimento</th>
                            <th>Horário</th>
                            <th></th>
                        </tr>
                        @*@foreach (var item in Model.PacienteDiaAtendimentos)
                        {
                            <tr>
                                <td class="col-md-2">@item.DiaDaSemana</td>
                                @{
                                    string hora = item.Horario.ToString("HH:mm");
                                }
                                <td class="col-md-2">@hora</td>
                                <td class="col-md-2" style="text-align:right;">
                                    <a asp-controller="PacienteDiaAtendimentos" asp-action="Edit" asp-route-id="@item.Id" title="Editar" class="btn btn-sm btn-primary">
                                        <i class="fa fa-pen" aria-hidden="true"></i>
                                    </a>
                                    <a asp-controller="PacienteDiaAtendimentos" asp-action="Details" asp-route-id="@item.Id" title="Detalhar" class="btn btn-sm btn-info">
                                        <i class="fa fa-list" aria-hidden="true"></i>
                                    </a>
                                    <a asp-controller="PacienteDiaAtendimentos" asp-action="Delete" asp-route-id="@item.Id" title="Deletar" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        }*@
                    </table>
                </div>
            </div>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-primary" style="width:80px; height:30px;" class="btn btn-sm btn-danger">
        Editar
    </a>
    <button type="button" data-toggle="modal" data-target="#modalDel" style="width:80px; height:30px;" class="btn btn-sm btn-danger">
        Deletar
    </button>
</div>
<!-- Modal -->
<div class="modal fade" id="modalDel" tabindex="-1" role="dialog" aria-labelledby="modalDelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">DELETAR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"><b>Deseja realmente inativar o paciente @Model.Nome?</b></div>
            <div class="modal-footer">
                <form asp-action="Delete" style="display:inline">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Sim" class="btn btn-danger" style="display: inline;" />
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
    <script>
        function ModalDelete(url) {
            $(".modal-body").load(url); // chama diretório/arquivo dentro do corpo do modal
            $("#modalPaginas").modal('show'); // Abre o modal visualmente
        }
    </script>
}