@model IEnumerable<QualityOfLife.Models.Paciente>

@{
    ViewData["Title"] = "Pacientes";
}
<link href="/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet"> <!--load all styles -->

<div class="Detalhes">
    <div class="row">
        <div class="col-lg-6">
            <h2>Pacientes</h2>
        </div>
        <div class="col-lg-6" style="text-align:right; margin-top:20px;">
            <a asp-action="Create" target="_blank" title="Cadastrar" class="btn btn-sm btn-info">
                Cadastrar
            </a>
        </div>
    </div>
</div>
<br />
<div class="Detalhes">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead class="bg-danger text-white">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cpf)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataNascimento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StatusPacientes)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Responsavel)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cpf)
                            </td>
                            @{
                                string nascimento = item.DataNascimento.ToString("dd/MM/yyyy");
                            }
                            <td>
                                @nascimento
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusPacientes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Responsavel.Nome)
                            </td>
                            <td style="text-align:right;">
                                <a asp-action="Edit" asp-route-id="@item.Id" target="_blank" title="Editar" class="btn btn-sm btn-primary">
                                    <i class="fa fa-pen" aria-hidden="true"></i>
                                </a>
                                <a asp-action="Details" asp-route-id="@item.Id" target="_blank" title="Detalhar" class="btn btn-sm btn-info">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                </a>
                                <a asp-action="Details" asp-route-id="@item.Id" target="_blank" title="Deletar" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
