@model IEnumerable<QualityOfLife.Models.Paciente>

@{
    ViewData["Title"] = "Pacientes";
}
<link href="/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet"> <!--load all styles -->
@section styles {
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />

}
<style>
    #textoCenter {
        text-align: center;
    }

    #btn-novo {
        float: right;
        padding: .5em 1em;
        margin-top: 2px;
    }
</style>
<h3 style="margin-top:10px;">
    Pacientes
    <a asp-action="Create" class="btn btn-sm btn-danger waves-effect px-1" id="btn-novo">Cadastrar</a>
</h3>
<div class="Detalhes">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" id="tabela-paciente">
                <thead class="bg-primary text-white">
                    <tr>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.Cpf)
                        </th>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.PacienteDiaAtendimento)
                        </th>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.Responsavel)
                        </th>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.StatusPacientes)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="col-md-4" id="textoCenter">
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td class="col-md-2" id="textoCenter">
                                @Html.DisplayFor(modelItem => item.Cpf)
                            </td>
                            <td class="col-md-1" id="textoCenter">
                                @foreach (var i in item.PacienteDiaAtendimento)
                                {
                                    string dia = i.DiaDaSemana.ToString();
                                    string hora = i.Horario.ToString("HH:mm");
                                    string diaHora = dia + " - " + hora;
                                    <div>@diaHora</div>
                                }

                            </td>
                            @{
                                string responsavel = item.Responsavel.Nome.Substring(0, 15);
                            }
                            <td class="col-md-2" id="textoCenter">
                                @responsavel.
                            </td>
                            <td class="col-md-1" id="textoCenter">
                                @Html.DisplayFor(modelItem => item.StatusPacientes)
                            </td>
                            <td class="col-md-2" id="textoCenter">
                                <a asp-action="Edit" asp-route-id="@item.Id" title="Editar" class="btn btn-sm btn-primary">
                                    <i class="fa fa-pen" aria-hidden="true"></i>
                                </a>
                                <a asp-action="Details" asp-route-id="@item.Id" title="Detalhar" class="btn btn-sm btn-info">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                </a>
                                <a title="Deletar" class="btn btn-sm btn-danger" onclick="deletar('@item.Id', '@item.Nome')">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal" id="modalDel" role="dialog" aria-labelledby="modalDelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">DELETAR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body"><b>Deseja realmente inativar o(a) paciente <span id="nomePac"></span>? </b></div>
            <div class="modal-footer">
                <form asp-action="Delete" style="display:inline">
                    <input type="button" value="Sim" class="btn btn-danger" style="display: inline;" onclick="deletaId()" />
                    <span id="idPac" style="display:none"></span>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
    <script>
        function deletar(id, nome) {
            document.getElementById("idPac").innerHTML = id;
            document.getElementById("nomePac").innerHTML = nome;
            abreModal();
        };
        function deletaId() {
            let id = document.getElementById("idPac");
            $.ajax({
            method: "POST",
            url: "/Pacientes/Delete",
            data: { id: id.innerHTML },
            success: function () {
                        var location = "@Url.Action("Index")";
                        window.location.href = location;
            },
            error: function (error) {
                alert('failed');
            }
        })
        };
        function abreModal() {
            console.log('modal');
            $("#modalDel").modal({
                show: true
            });
        };

        /*setTimeout(abreModal, 1000);*/
        $('#search_input').bind('keyup click change', function () {
            search = $(this).val().toLowerCase();
            var re = new RegExp(search, 'g');

            $('#tabela-paciente tbody tr').each(function () {
                $(this).hide();
                target = $(this).find('td').text().toLowerCase();
                if (target.match(re) || target.match('^' + search)) {
                    $(this).show();
                }
            });
        });
        $(document).ready(function () {
            $('#tabela-paciente').DataTable({
                "language": {
                    "search": "Procurar",
                    "emptyTable": "Sem nenhum dado",
                    "zeroRecords": "Sem nenhum dado",
                    "info": "Exibindo _START_ a _END_ de _TOTAL_ dados",
                    "infoEmpty": "Exibindo 0 a 0 de 0 dados",
                    "thousands": ",",
                    "lengthMenu": "Exibindo _MENU_ dado por páginas",
                    "paginate": {
                        "first": "Primeira Pagina",
                        "last": "Ultimo",
                        "next": "Próximo",
                        "previous": "Anterior"
                    }

                },
                exportOptions: {
                    columns: ':not(.remove)'
                },
                "iDisplayLength": 10,
                "searching": true,
                "bPaginate": true,
                "bFilter": true,
                "bAutoWidth": true
            });
        });
    </script>
}
