@model IEnumerable<QualityOfLife.Models.Paciente>

@{
    ViewData["Title"] = "Pacientes";
}
<link href="/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet"> <!--load all styles -->
@section styles {
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />

}
<style>
    #textoCenter {
        text-align: center;
    }

    #btn-novo {
        float: right;
        padding: .5em 1em;
        margin-top: 2px;
    }
</style>
<h3 style="margin-top:10px;">
    Pacientes
    <a asp-action="Create" class="btn btn-sm btn-danger waves-effect px-1" id="btn-novo">Cadastrar</a>
</h3>
<div class="Detalhes">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" id="tabela-paciente">
                <thead class="bg-primary text-white">
                    <tr>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.Cpf)
                        </th>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.DataNascimento)
                        </th>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.StatusPacientes)
                        </th>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.Responsavel)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                    <tr>
                        <td class="col-md-3" id="textoCenter">
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td class="col-md-2" id="textoCenter">
                            @Html.DisplayFor(modelItem => item.Cpf)
                        </td>
                        @{
                            string nascimento = item.DataNascimento.ToString("dd/MM/yyyy");
                        }
                        <td class="col-md-2" id="textoCenter">
                            @nascimento
                        </td>
                        <td class="col-md-1" id="textoCenter">
                            @Html.DisplayFor(modelItem => item.StatusPacientes)
                        </td>
                        @{
                            string responsavel = item.Responsavel.Nome.Substring(0, 15);
                        }
                        <td class="col-md-2" id="textoCenter">
                            @responsavel.
                        </td>
                        <td class="col-md-2" id="textoCenter">
                            <a asp-action="Edit" asp-route-id="@item.Id" title="Editar" class="btn btn-sm btn-primary">
                                <i class="fa fa-pen" aria-hidden="true"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.Id" title="Detalhar" class="btn btn-sm btn-info">
                                <i class="fa fa-list" aria-hidden="true"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.Id" title="Deletar" class="btn btn-sm btn-danger">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
    <script>
        $('#search_input').bind('keyup click change', function () {
            search = $(this).val().toLowerCase();
            var re = new RegExp(search, 'g');

            $('#tabela-paciente tbody tr').each(function () {
                $(this).hide();
                target = $(this).find('td').text().toLowerCase();
                if (target.match(re) || target.match('^' + search)) {
                    $(this).show();
                }
            });
        });
        $(document).ready(function () {
            $('#tabela-paciente').DataTable({
                "order": [[1, "asc"]],
                "language": {
                    "search": "Procurar",
                    "emptyTable": "Sem nenhum dado",
                    "zeroRecords": "Sem nenhum dado",
                    "info": "Exibindo _START_ a _END_ de _TOTAL_ dados",
                    "infoEmpty": "Exibindo 0 a 0 de 0 dados",
                    "thousands": ",",
                    "lengthMenu": "Exibindo _MENU_ dado por páginas",
                    "paginate": {
                        "first": "Primeira Pagina",
                        "last": "Ultimo",
                        "next": "Próximo",
                        "previous": "Anterior"
                    }

                },
                exportOptions: {
                    columns: ':not(.remove)'
                },
                "iDisplayLength": 10,
                "searching": true,
                "bPaginate": true,
                "bFilter": true,
                "bAutoWidth": true
            });
        });
    </script>
}