@model IEnumerable<QualityOfLife.Models.ContasApagar>

@{
    ViewData["Title"] = "Lista Contas à Pagar";
}
<link href="/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet"> <!--load all styles -->
@section styles {
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" rel="stylesheet" />


}
<style>
    #textoCenter {
        text-align: center;
    }

    #btn-novaContas {
        float: right;
        padding: .5em 1em;
        margin-top: 2px;
        margin-right: 2px;
    }
</style>

<h3 style="margin-top:10px;">
    Contas à Pagar
    <a asp-action="Create" class="btn btn-sm btn-danger waves-effect px-1" id="btn-novaContas">Cadastrar</a>
</h3>
<br />
<div class="Detalhes">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" style="width:100%" id="tabela-contasApagar">
                <thead class="bg-primary text-white">
                    <tr>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.Descricao)
                        </th>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.Valor)
                        </th>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.DataVencimento)
                        </th>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.Pagamento)
                        </th>
                        <th id="textoCenter">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="col-sm-1" id="textoCenter">
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>
                            <td class="col-sm-1" id="textoCenter">
                                @Html.DisplayFor(modelItem => item.Valor)
                            </td>
                            <td class="col-sm-1" id="textoCenter">
                                @item.DataVencimento.ToString("dd/MM/yyyy")
                            </td>
                            <td class="col-sm-1" id="textoCenter">
                                @{ 
                                    string pag = "Não";
                                    if (item.Pagamento == true)
                                    {
                                        pag = "Sim";
                                    }
                                }

                                @pag
                            </td>
                            <td class="col-sm-1">
                                <a asp-action="Edit" asp-route-id="@item.Id" title="Editar" class="btn btn-sm btn-primary waves-effect px-1">
                                    <i class="fa fa-pen" aria-hidden="true"></i>
                                </a>
                                <a asp-action="Details" asp-route-id="@item.Id" title="Detalhar" class="btn btn-sm btn-warning waves-effect px-1">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" title="Gerar Pdf" class="btn btn-sm btn-danger waves-effect px-1">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.colVis.min.js"></script>

    <script>
        //$('#search_input').bind('keyup click change', function () {
        //    search = $(this).val().toLowerCase();
        //    var re = new RegExp(search, 'g');

        //    $('#tabela-contasApagar tbody tr').each(function () {
        //        $(this).hide();
        //        target = $(this).find('td').text().toLowerCase();
        //        if (target.match(re) || target.match('^' + search)) {
        //            $(this).show();
        //        }
        //    });
        //});
        //$(document).ready(function () {
        //    $('#tabela-contasApagar').DataTable({
        //        "order": [[4]],
        //        "language": {
        //            "search": "Procurar",
        //            "emptyTable": "Sem nenhum dado",
        //            "zeroRecords": "Sem nenhum dado",
        //            "info": "Exibindo _START_ a _END_ de _TOTAL_ dados",
        //            "infoEmpty": "Exibindo 0 a 0 de 0 dados",
        //            "thousands": ",",
        //            "lengthMenu": "Exibindo _MENU_ dado por páginas",
        //            "paginate": {
        //                "first": "Primeira Pagina",
        //                "last": "Ultimo",
        //                "next": "Próximo",
        //                "previous": "Anterior"
        //            }

        //        },
        //        exportOptions: {
        //            columns: ':visible'
        //        },
        //        "iDisplayLength": 10,
        //        "searching": true,
        //        "bPaginate": true,
        //        "bFilter": true,
        //        "bAutoWidth": true
        //    });
        //});
        $(document).ready(function () {
            $('#tabela-contasApagar').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        "extend": "print",
                        "text": "Imprimir"
                    },
                    {
                        "extend": "colvis",
                        "text": "Visualizar Colunas"
                    }
                ],
                columnDefs: [{
                    targets: -1,
                    visible: true
                }],
                "language": {
                    "search": "Procurar",
                    "emptyTable": "Sem nenhum dado",
                    "zeroRecords": "Sem nenhum dado",
                    "info": "Exibindo _START_ a _END_ de _TOTAL_ dados",
                    "infoEmpty": "Exibindo 0 a 0 de 0 dados",
                    "thousands": ",",
                    "lengthMenu": "Exibindo _MENU_ dado por páginas",
                    "paginate": {
                        "first": "Primeira Pagina",
                        "last": "Ultimo",
                        "next": "Próximo",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}

