@model QualityOfLife.Models.Responsavel

@{
    ViewData["Title"] = "Responsável/Detalhes";
}

<link href="/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet"> <!--load all styles -->
<div class="Detalhes">
    <div class="row">
        <div class="col-lg-6">
            <h2>Detalhes</h2>
        </div>
        <div class="col-lg-6" style="text-align:right; margin-top:20px;">
            <a asp-action="Index" title="Voltar" class="btn btn-sm btn-info">
                Voltar
            </a>
        </div>
    </div>
</div>
<br />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profissao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profissao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoLogradouro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoLogradouro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rua)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rua)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Criado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Criado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CriadoData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CriadoData)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modificado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modificado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModificadoData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModificadoData)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" target="_blank" class="btn btn-sm btn-primary" style="width:80px; height:30px;" class="btn btn-sm btn-danger">
        Editar
    </a>
    <a href="javascript:void(0);" onclick="ModalDelete('ModalDelete')" style="width:80px; height:30px;" class="btn btn-sm btn-danger">
        Deletar
    </a>
</div>
@*ModalDelete*@
<div class="modal fade" tabindex="-1" role="dialog" id="modalPaginas">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">DELETAR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"><b>Deseja realmente deletar o usuário @Model.Nome?</b></div>
            <div class="modal-footer">
                <form asp-action="Delete" style="display:inline">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Sim" class="btn btn-danger" style="display: inline;" />
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

<script>
    function ModalDelete(url) {
        $(".modal-body").load(url); // chama diretório/arquivo dentro do corpo do modal
        $("#modalPaginas").modal('show'); // Abre o modal visualmente
    }
</script>