@model QualityOfLife.Models.Agenda
@using QualityOfLife.Models.Enums;
@{
    ViewData["Title"] = "Agenda/Cadastrar";
}
<datalist id="repetir">
    @foreach (var item in Html.GetEnumSelectList<Repetir>())
    {
        <option value="@item.Value"> @item.Text</option>
    }
</datalist>
<datalist id="pacientes">
    @foreach (var item in ViewBag.Paciente)
    {
        <option value="@item.Cpf"> @item.Nome</option>
    }
</datalist>
<datalist id="profissionais">
    @foreach (var item in ViewBag.Profissional)
    {
        <option value="@item.Cpf"> @item.Nome</option>
    }
</datalist>
<datalist id="tipoAtendimento">
    @foreach (var item in Html.GetEnumSelectList<TipoAtendimento>())
    {
        <option value="@item.Value"> @item.Text</option>
    }
</datalist>
<datalist id="local">
    @foreach (var item in Html.GetEnumSelectList<LocalAtendimento>())
    {
        <option value="@item.Text"></option>
    }
</datalist>
<div class="Detalhes">
    <div class="row">
        <div class="col-lg-6">
            <h2>Cadastrar</h2>
        </div>
        <div class="col-lg-6" style="text-align:right; margin-top:10px;">
            <a asp-action="Index" title="Voltar" class="btn btn-sm btn-info">
                Voltar
            </a>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Criado" class="form-control" value="@ViewBag.CurrentUser" />
            <input type="hidden" asp-for="CriadoData" class="form-control" value="@ViewBag.Data" />
            <input type="hidden" asp-for="Modificado" class="form-control" />
            <input type="hidden" asp-for="ModificadoData" class="form-control" value="0001-01-01 00:00:00" />
            <input type="hidden" asp-for="Presenca" class="form-control" value="true" /> @*@Html.DisplayNameFor(model => model.Presenca)*@
            <input type="hidden" asp-for="FaltaJustificada" class="form-control" value="false" /> @*@Html.DisplayNameFor(model => model.FaltaJustificada)*@
            <input type="hidden" asp-for="Falta" class="form-control" value="false" /> @*@Html.DisplayNameFor(model => model.Falta)*@
            <input type="hidden" asp-for="Reagendar" class="form-control" value="false" /> @*@Html.DisplayNameFor(model => model.Reagendar)*@

            <div class="form-group col-md-4">
                <label asp-for="Repetir" class="control-label"></label>
                <input type="text" asp-for="Repetir" class="form-control" list="repetir" />
                <span asp-validation-for="Repetir" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Paciente" class="control-label"></label>
                <input asp-for="Paciente.Cpf" class="form-control" list="pacientes" />
                <span asp-validation-for="Paciente.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Profissional" class="control-label"></label>
                <input asp-for="Profissional.Cpf" class="form-control" list="profissionais" />
                <span asp-validation-for="Profissional.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Local" class="control-label"></label>
                <input asp-for="Local" class="form-control" list="local" />
                <span asp-validation-for="Local" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="TipoAtendimento" class="control-label"></label>
                <input asp-for="TipoAtendimento" class="form-control" list="tipoAtendimento" />
                <span asp-validation-for="TipoAtendimento" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="DataHora" class="control-label"></label>
                <input asp-for="DataHora" class="form-control" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Valor" class="control-label"></label>
                <div class="input-group mb-3">
                    <span class="input-group-text">R$</span>
                    <input asp-for="Valor" type="text" class="form-control" placeholder="Ex: 160 ou 1200" onkeyup="somenteNumeros(this);">
                    <span class="input-group-text">,00</span>
                </div>
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                @Html.LabelFor(m => m.Anotações)
                @Html.TextAreaFor(m => m.Anotações)
                @Html.ValidationMessageFor(m => m.Anotações, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="form-group col-md-12">
                @*<input type="submit" value="Salvar" class="btn btn-default" />*@
                <button type="submit" class="btn btn-success">Salvar</button> |
                <button asp-action="Index" class="btn btn-info">Voltar</button>
            </div>
        </form>
    </div>
</div>

<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=v5z53k0b99mq6jdq7rmord5xg2u6jwborbuov669whaeecsp"></script>
<script>
    tinymce.init({
        selector: 'textarea',
        height: 300,
        menubar: false,
        statusbar: false,
        theme: 'modern'
    });
    function somenteNumeros(num) {
        var er = /[^0-9.]/;
        er.lastIndex = 0;
        var campo = num;
        if (er.test(campo.value)) {
            campo.value = "";
        }
    }
</script>