@model IEnumerable<QualityOfLife.Models.ViewModels.PedidoAgenda>

@{
    ViewData["Title"] = "VisualizaAtendimentos";
}
<link href="/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet"> <!--load all styles -->
<datalist id="pacientes">
    @foreach (var item in ViewBag.Paciente)
    {
        <option value="@item.Cpf"> @item.Nome</option>
    }
</datalist>
<div class="Detalhes">
    <div class="row">
        <div class="col-lg-6">
            <h2>Novo Pedido</h2>
        </div>
        <div class="col-lg-6" style="text-align:right; margin-top:10px;">
            <a asp-action="Index" title="Voltar" class="btn btn-sm btn-info">
                Voltar
            </a>
        </div>
    </div>
</div>
<br />

@using (Html.BeginForm("CreatePost", "Pedidos", FormMethod.Post, new { @class = "row", onsubmit = "return sendForm();" }))
{
    <form class="row col-12">
        <input type="hidden" name="pacientePost" class="form-control" value="@ViewBag.Cpf" />
        <input type="hidden" name="mesPost" class="form-control" value="@ViewBag.Mes" />
        <div class="form-group col-sm-4">
            <label>Paciente</label>
            <input type="text" placeholder="Digite o nome do Paciente" class="form-control" name="paciente" id="paciente" list="pacientes" />
        </div>
        <div class="form-group col-sm-4">
            <label> Mês Referência</label>
            <input type="month" class="form-control" name="mes" />
        </div>
        <div class="form-group col-12" style="margin-top:10px;">
            <input type="submit" asp-action="Create" id="consulta" class="btn btn-primary btn-sm" value="Consultar">
            <input type="button" id="novoPedido" onclick="verificarCheckBox()" class="btn btn-success btn-sm" value="Gerar Pedido">
        </div>
    </form>

    @if (Model.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Agenda.DataHora)
                    </th>
                    <th class="col-sm-3">
                        Paciente
                    </th>
                    <th class="col-sm-3">
                        Profissional
                    </th>
                    <th class="col-sm-1">
                        @Html.DisplayNameFor(model => model.Agenda.Local)
                    </th>
                    <th class="col-sm-1">
                        @Html.DisplayNameFor(model => model.Agenda.TipoAtendimento)
                    </th>
                    <th>
                        Status
                    </th>
                    <th class="col-sm-1"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td>
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="@item.Escolher" />
                                    </label>
                                </div>
                            </td>*@
                        <td scope="col"><input asp-for="@item.Escolher" type="checkbox" name="itemCheck" id="@item.Agenda.Id" /></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Agenda.DataHora)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Agenda.Paciente.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Agenda.Profissional.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Agenda.Local)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Agenda.TipoAtendimento)
                        </td>
                        @{
                            if (item.Agenda.Presenca == true)
                            {
                                <td>
                                    P
                                </td>
                            }
                            else if (item.Agenda.FaltaJustificada == true)
                            {
                                <td>
                                    FJ
                                </td>
                            }
                            else if (item.Agenda.Falta == true)
                            {
                                <td>
                                    F
                                </td>
                            }
                            else
                            {
                                <td>
                                    NR
                                </td>
                            }
                        }
                        <td>
                            <a asp-controller="Agendas" asp-action="Edit" asp-route-id="@item.Agenda.Id" title="Editar" class="btn btn-primary btn-sm waves-effect px-1">
                                <i class="fas fa-pen" aria-hidden="true"></i>
                            </a>
                            <a asp-controller="Agendas" asp-action="Details" asp-route-id="@item.Agenda.Id" title="Detalhar" class="btn btn-info btn-sm waves-effect px-1">
                                <i class="fas fa-list" aria-hidden="true"></i>
                            </a>

                            @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
}



<script>
    function verificarCheckBox() {
        var check = document.getElementsByName("itemCheck");
        var idsChecks = [];
        for (var i = 0; i < check.length; i++) {
            if (check[i].checked == true) {
                console.log(check[i].id + "checado");
                idsChecks.push(check[i].id);
                // CheckBox Marcado... Faça alguma coisa...

            } else {
                console.log(check[i].id + "não checado");
                // CheckBox Não Marcado... Faça alguma outra coisa...
            }
        }
        $.ajax({
            method: "POST",
            url: "/Pedidos/CreatePost",
            data: { pacientePost: "@ViewBag.Cpf", mesPost: "@ViewBag.Mes", idsAgenda: idsChecks },
            success: function () {
                        var location = "@Url.Action("Index")";
                        window.location.href = location;
            },
            error: function (error) {
                alert('failed');
            }
        })

    }
</script>