@model IEnumerable<QualityOfLife.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}
<link href="/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet"> <!--load all styles -->
@section styles {
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />

}
<style>
    #textoCenter {
        text-align: center;
    }

    #btn-novo {
        float: right;
        padding: .5em 1em;
        margin-top: 2px;
    }
    #btn-avulso {
        float: right;
        padding: .5em 1em;
        margin-top: 2px;
        margin-right:2px;
    }
</style>
<h3 style="margin-top:10px;">
    Pedidos
    <a asp-action="CreateAvulso" class="btn btn-sm btn-info waves-effect px-1" id="btn-novo">Pedido Avulso</a>
    <a asp-action="Create" class="btn btn-sm btn-danger waves-effect px-1" id="btn-avulso">Novo Pedido</a>
</h3>



<div class="Detalhes">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" id="tabela-pedido">
                <thead class="bg-primary text-white">
                    <tr>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.Paciente.Nome)
                        </th>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.DataPedido)
                        </th>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.Valor)
                        </th>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.Desconto)
                        </th>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.Credito)
                        </th>
                        <th id="textoCenter">
                            @Html.DisplayNameFor(model => model.Total)
                        </th>
                        <th id="textoCenter">
                            Pago?
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        string responsavel = string.Empty;
                        if (item.Paciente != null)
                        {
                            responsavel = @item.Paciente.Responsavel.Nome;
                        }

                        <tr>
                            <td class="col-md-3" id="textoCenter" title="@responsavel">
                                @Html.DisplayFor(modelItem => item.Paciente.Nome)
                            </td>
                            <td class="col-md-1" id="textoCenter">
                                @item.DataPedido.ToString("dd/MM/yyyy")
                            </td>
                            <td class="col-md-1" id="textoCenter">
                                R$ @Html.DisplayFor(modelItem => item.Valor),00
                            </td>
                            <td class="col-md-1" id="textoCenter">
                                R$ @Html.DisplayFor(modelItem => item.Desconto),00
                            </td>
                            <td class="col-md-1" id="textoCenter">
                                R$ @Html.DisplayFor(modelItem => item.Credito),00
                            </td>
                            <td class="col-md-2" id="textoCenter">
                                R$ @Html.DisplayFor(modelItem => item.Total),00
                            </td>
                            @{
                                if (item.Pagamento == true)
                                {
                                    <td class="col-md-1" id="textoCenter">
                                        Sim
                                    </td>
                                }
                                else
                                {
                                    <td class="col-md-1" id="textoCenter">
                                        Não
                                    </td>
                                }
                            }

                            <td class="col-sm-2" id="textoCenter">
                                <a asp-action="GerarPdf2" asp-route-id="@item.Id" title="Gerar Pdf" class="btn btn-sm btn-danger waves-effect px-1">
                                    <i class="fa fa-archive" aria-hidden="true"></i>
                                </a>
                                <a asp-action="GerarRecibo" asp-controller="Recibos" asp-route-id="@item.Id" title="Gerar Recibo" class="btn btn-sm btn-info waves-effect px-1">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.Id" title="Editar" class="btn btn-sm btn-primary waves-effect px-1">
                                    <i class="fa fa-pen" aria-hidden="true"></i>
                                </a>
                                <a asp-action="Details" asp-route-id="@item.Id" title="Detalhar" class="btn btn-sm btn-warning waves-effect px-1">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
    <script>
        $('#search_input').bind('keyup click change', function () {
            search = $(this).val().toLowerCase();
            var re = new RegExp(search, 'g');

            $('#tabela-pedido tbody tr').each(function () {
                $(this).hide();
                target = $(this).find('td').text().toLowerCase();
                if (target.match(re) || target.match('^' + search)) {
                    $(this).show();
                }
            });
        });
        $(document).ready(function () {
            $('#tabela-pedido').DataTable({
                "order": [[7, "desc"]],
                "language": {
                    "search": "Procurar",
                    "emptyTable": "Sem nenhum dado",
                    "zeroRecords": "Sem nenhum dado",
                    "info": "Exibindo _START_ a _END_ de _TOTAL_ dados",
                    "infoEmpty": "Exibindo 0 a 0 de 0 dados",
                    "thousands": ",",
                    "lengthMenu": "Exibindo _MENU_ dado por páginas",
                    "paginate": {
                        "first": "Primeira Pagina",
                        "last": "Ultimo",
                        "next": "Próximo",
                        "previous": "Anterior"
                    }

                },
                exportOptions: {
                    columns: ':not(.remove)'
                },
                "iDisplayLength": 10,
                "searching": true,
                "bPaginate": true,
                "bFilter": true,
                "bAutoWidth": true
            });
        });
    </script>
}